<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport"
		content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<script src="../addons/hc_face/template/mobile/js/jquery.js"></script>
	<link rel="stylesheet" href="../addons/hc_face/template/mobile/appeal/css/article.css">
	<title>AI面相研究院</title>
	<style type="text/css">
		html,body{
			color: #2A2A2A;
			margin:0 ;
			padding:0;
		}

		.title {
			font-size: 6.5vw;
			display: block;
		}

		h4 {
			margin: 6px 0;
		}
		.line{
			width:100vw;
			display: block;
			margin:5px 0;
			border-bottom:1px solid #F9F9F9;
		}
		.container{
			width:94vw;
			margin: 0 3vw;
			padding:5vw 0;
		}
	</style>
</head>

<body>
	<div class="container">
		<span class="title">美图上线“AI开放平台”服务AR试装、广告营销、智能硬件等行业</span>
		<!-- <div class="time">AI财经社 2019-04-12  16:56:22</div> -->
		<span class="line"></span>
		<span>近几年中国缺芯的话题一直被关注，特别是去年中兴事件更是再一次让更多人意识到了中国缺芯问题的严重性。在资本、政策、AI的助推下，国内新一轮的芯片热潮达到了新的高度。不过，中国芯的强大并非一朝一夕就能实现，那么现在还差的到底是什么？备受关注的AI芯片，落地面临哪些挑战？</span>
		<h4>中国芯片进口额突破3000亿</h4>
		<span>近日，在中国芯应用创新高峰论坛暨中国芯应用创新设计大赛启动仪式上，国家集成电路产业投资基金股份有限公司总经理丁文武在致辞中提到，2018年中国进口芯片总额已经超过了3000亿美金，达到3125亿美金，2017年是2700多亿美金。并且，在进口芯片当中份额最高的是高端核心芯片，比如CPU、MCU和存储芯片。</span>
		<span>中国芯片进口总额为何增长迅速？赛迪顾问集成电路产业研究中心总经理韩晓敏指出，一方面，去年存储芯片上涨幅度较大，并推动全球半导体产业产值创新高，据WSTS统计，全球版导体行业增长13.7%至4688亿美元。另一方面，中国毫无疑问是全球半导体最大的单一市场，去年市场的份额占比达到了33.8%，市场增长更是高达20.5%，超过整体市场13.7%以及以美国为主的北美市场的16.4%的增速。</span>
	</div>
</body>
<script type="text/javascript">
</script>

</html>